body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    background-color: blanchedalmond;
}
h1{
    border: 15px;
}
#cabecalho{
    background-color: blanchedalmond;
    color: rgba(27, 23, 23, 0.844);
    text-align: center;
    border: 0px;
    border-radius: 14px;
    margin-top: 0px;
    margin-left: 40px;
    font-size: large;
    width: 90%;
}
.box{
    width: 370px;
    height: 330px;
    border-radius: 15px;
    background-color: rgba(196, 128, 49, 0.566);
    margin: 40px;
    text-align: center;
    float: left;
 }
h2{
    text-align: center; 
}
.desc{
    font-family: Georgia, 'Times New Roman', Times, serif;   
}
.img{
    width: 350px;
    height: 250px;
}
.imgLogo{
    width: 300px;
    
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}